<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Connexion ICEBERG</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <h1>Connexion</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Erreur de connexion !</strong>
            </div>
        </div>
        <div class="col-md-12">
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                    <label for="username">Identifiant</label>
                    <input type="text" class="form-control" id="username" placeholder="Identifiant" ng-model="vm.username">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe"
                           ng-model="vm.password">
                </div>
                <div style=" display: none;"  class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Je me connecte</button>
            </form>
            <p></p>
            <div style=" display: none;" class="alert alert-warning">
                <a class="alert-link" href="" ng-click="vm.requestResetPassword()">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning center">
               <img src="../content/images/contact.png" height="30" width="42"> Pour toutes questions, <a class="alert-link"  href="mailto:inventaire.iceberg@gmail.com">contactez-nous</a><br>
            </div>
        </div>
    </div>
</div>
